@CHARSET "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina|Fredoka+One');

body, table, div, p, dl {
    font: 400 13px/21px Roboto,sans-serif;
}

#projectname
{
	font: 300% 'Baloo Bhaina', cursive !important;
}

#projectbrief
{
	color: #C8EFD2;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	margin-top: -30px;
}

#projectnumber
{
	color: rgb(255,255,255);
	text-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 0px;
	font-size: 20px;
	font-weight: 400;
	font-style: italic;
	margin: 0px;
	padding: 0px;
}

#version{
	color: rgb(71, 69, 70);
	font-size: 16px;
	font-weight: 600;
	margin: 0px;
	padding: 0px 10px 0px;
}

#titlearea
{
	color: rgb(71, 69, 70);
    position: relative;
    text-align: left;
    text-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 0px;
    perspective-origin: 950.5px 128px;
    transform-origin: 950.5px 128px;
	background: rgb(48,118,112) linear-gradient( rgb(132,211,178) 0px, rgb(48,118,112) 100%) repeat-x scroll 0% 0% / auto padding-box border-box;
	padding: 0px 0px 10px;
	margin: 0px;
	width: 100%;
	border-bottom: 1px solid #395D54;
}
.memtitle{
	font-weight: 600 !important;
	font-size: 120% !important;
	background-color: #F1E2D3 !important;
    background-image: none !important;
    color: #935B38 !important;
}
.memdoc p{
	color: #357B74;
	font-weight: 500 !important;
}
#MSearchField{
	background: none;
	font: 9pt Roboto,sans-serif;
	border: inherit;
}
#MSearchBox .left{
	background: none;
}

#MSearchBox .right{
	background: none;
}

.SelectItem{
	font: 8pt Roboto,sans-serif;
}